@using Session_Workshop.Models
@model User
@{
    ViewData["Title"] = "A Web Page";
}
<div class="centerblock">
    <form asp-action="Login" asp-controller="Session" method="post">
        <h1>Welcome!</h1>
        <div class="blocks">
            <label asp-for="Name">Please give your name:</label>
            <input asp-for="Name" />
        </div>
        <div class="blocks">
            <span asp-validation-for="Name"></span>
        </div>
        <div class="blocks submitbutton">
            <button type="submit" class="btn1">Submit</button>
        </div>
    </form>
</div>
